<h1>Cocktail party!</h1>
<h2>Let's see what our barmaids could shake for you...</h2>

<table>
  <thead>
    <tr>
      <th>Cocktail name</th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail_path(cocktail) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
