<h1>Cocktail's nerd?</h1>
<h2> Before drinking <strong><%= @cocktail.name %></strong>, here is what you should know:</h2>


<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Dose description</th>
    </tr>
  </thead>

  <tbody>
    <% @cocktail.doses.each do |dose|  %>
      <tr>
        <td><%= dose.ingredient.name %></td>
        <td><%= dose.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Ask our barmaids again about our cocktails", cocktails_path %>
